recursive-include pioreactor_i2c_to_voltage/ui/ *.yaml
include pioreactor_i2c_to_voltage/additional_config.ini
include pioreactor_i2c_to_voltage/post_install.sh
include pioreactor_i2c_to_voltage/pre_uninstall.sh